.dealer_product_details .car_details {
    width: auto !important;
}

.dealer_product_details table tr td:nth-child(1) {
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #7E7E7E;
}

.dealer_product_details table tr td:nth-child(2) {
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #1D2222;
    padding-left: 20px;
}
.dealer_product_details h2{
    font-weight: 600;
font-size: 36px;
line-height: 44px;
color: #1D2222;
margin-bottom: 30px;
}
.delete_text{
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 800;
}
.buttons{
    position: absolute;
    right: 10px;
}
.Product_delete_modal .buttons{
    bottom: 15px;
}
.buttons button{
    color: white;
    background-color: #249EA0;
    text-transform: capitalize;
    margin: 10px 10px 10px 0;
    padding: 7px 25px;
}
.buttons button:hover{
    background-color: #249EA0;
}