.css-11b3ww9-MuiPaper-root-MuiAppBar-root, .css-5poeop {
    background-color: white !important;
    box-shadow: none !important;
}

.css-19nvhel-MuiButtonBase-root-MuiButton-root,.css-gsz4km {
    text-transform: capitalize !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover,.css-1ujsas3:hover{
    background-color: #249EA0 !important;
}
.login_btn {
    background: #249EA0 !important;
    border-radius: 8px !important;
    color: white !important;
    padding: 5px 17px !important;
}
.feachers .css-isbt42{
    text-align: center;
}
.css-1nxmd3h-MuiListItem-root, .css-1tpp0wj{
    flex-direction: column !important;
}
.css-hyum1k-MuiToolbar-root, .css-i6s8oy{
    justify-content: space-between;
}
.css-1hhjps1 {
    padding: 8px 0px !important;
}
.css-1tpp0wj{
    align-items: baseline;
}
.css-1hhjps1{
    width: 94% !important;
}