.Product_List h1 {
    font-family: 'Inter' !important;
    margin: 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #1D2222;
}

.Product_List .common_btn {
    margin-top: 0px !important;
    width: 200px !important;
    margin-left: 10px;
}

.Product_List .product_table {
    margin-top: 20px;
    font-family: 'Inter' !important;

}

.Product_List .product_table table tr td {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #1D2222 !important;
}

.Product_List .product_table thead {
    background: #F7F7F7;
    border-radius: 20px;
}

.Product_List .product_table tbody tr {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.Product_List .product_table thead tr th:nth-child(1) {
    padding-left: 15px !important;
    text-align: left;
}
.Product_List .product_table thead tr th {
    padding: 13px 0px !important;
    text-align: center;
}
.W_150{
    width: 350px;
}
.W_100{
    width: 150px;
}
.W_150 img {
    margin: 20px 0;
}

.action {
    display: flex;

    justify-content: end;
}

.action_btn {
    font-weight: 600 !important;
    border: none;
    background-color: white;
    margin: 0 20px 0 0;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    padding: 5px 13px;
    display: flex;
}

.W_150 div {
    align-items: center;
}

.product_pagination {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.product_pagination .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root,
.MuiButtonBase-root {
    font-weight: 600;
}

.product_pagination .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.MuiButtonBase-root.Mui-selected {
    background-color: white !important;
    border: none !important;
}

@media only screen and (max-width: 700px) {
    .Product_List h1 {
        margin: 20px 0;
    }

    .responsiveTable td .tdBefore {
        margin-top: 10px !important;
    }

    .Product_List .product_table tbody tr td {
        padding-left: calc(50% + 10px) !important;
        padding-top: 10px;
    }

    .W_150, .W_100 {
        width: auto !important;
    }

    .W_150 div ,.W_100 div{
        align-items: flex-start;
        flex-direction: column;
    }
    .action{
            flex-wrap: wrap;
            justify-content: start;
    }
    .action_btn {
        margin-top: 10px;
    }

    .action_btn:nth-child(3) {
        margin-bottom: 10px;
    }

    .W_150 img {
        margin: 0;
    }
}