.Footer{
    background: #1D2222;
    height: 100%;
    color: white;
    padding-top: 130px;
    font-family: 'Inter';
font-style: normal;
}
.Footer ul{
    list-style-type: none;
    padding-left: 0;
}
.Footer h6{
    margin: 20px 10px 20px 0;
    font-weight: 400;
font-size: 14px;
line-height: 20px;
color: white;
}
.Footer h3{
    text-transform: uppercase;
    font-weight: 600;
font-size: 19px;
line-height: 20px;
color: white;
}
.Footer ul li{
    font-weight: 400;
font-size: 15px;
line-height: 30px;
color: #7E7E7E;
}
.footer_end{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.white_space_footer{
    margin-top: 130px;
    margin-bottom: -20px;
    background-color: white;
    height: 40px;
    transform: rotate(-1.3deg);
    overflow: hidden !important;
    width: 100%;
}
.footer_icon{
    margin-right: 10px;
}
.footer_icon:hover{
    color: #249EA0;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .Footer{
        padding-top: 50px;
    }
    .Footer h3{
        margin-top: 15px;
    }
    .css-11lq3yg-MuiGrid-root{
        justify-content: space-between;
    }
    .white_space_footer{
        margin-top: 20px;
    }
}