.css-17dcqu8-MuiTypography-root-MuiLink-root,.css-1oyo6v6{
    color: #249EA0 !important;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}
.css-1gqyz35-MuiTypography-root,.css-nbfzex{
    color: #7E7E7E;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}
.header_breadcrumb{
    background: #F7F7F7;
    padding: 25px 0 15px 0;
}